.embla {
  overflow: hidden;
  border-radius: 0.75rem;
  cursor: pointer;
  transition: transform 0.25s ease;

  &:hover {
    transform: scale(1.01);
  }
}

.emblaContainer {
  display: flex;
}

.emblaSlide {
  flex: 0 0 100%;
  min-width: 0;
}

.emblaSlideImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
  aspect-ratio: 16 / 9; /* Maintain consistent aspect ratio */
}
